<div class="comments media-body">
  {{#each this}}
  <div class='inline-block items-center justify-center w-full max-w-xl bg-white rounded-lg px-4 pt-2 mt-5 py-3 shadow-lg'>
      <p class="inline-block text-base font-bold mr-2">{{username}}</p>
      {{!-- <span class="text-slate-500">{{format_date date_created}}</span>  --}}
      <p>{{content}}</p>
  </div>  
  {{/each}}
</div>