<div>
  <div class="md:grid md:grid-cols-3 md:gap-6">
    <div class="md:col-span-1">
      <div class="px-4 sm:px-0">
        <!-- New Post Header -->
        <h3 class="text-lg font-medium leading-6 text-gray-900">New Post</h3>
        <p class="mt-1 text-sm text-gray-600">Type in the trail hiked and the experience review to create a new post.</p>
      </div>
    </div>
    <div class="mt-5 md:mt-0 md:col-span-2">
      <form action="#" id="new-post-form" method="POST">
        <!-- Hidden Input for Post ID -->
        <input type="hidden" name="post-id" value="{{post.id}}"/>
        <div class="shadow sm:rounded-md sm:overflow-hidden">
          <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
            <div class="grid grid-cols-3 gap-6">
              <div class="col-span-3 sm:col-span-2">
                <!-- Title Input -->
                <label for="company-website" class="block text-sm font-medium text-gray-700"> Trail Hiked </label>
                <div class="mt-1 flex rounded-md shadow-sm">
                  <!-- Title Input Field -->
                  <input id="company-website" name="post-title" required class="appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-300 text-gray-900 focus:outline-none focus:ring-green-500 focus:border-green-500 focus:z-10 sm:text-sm" value="{{post.title}}" placeholder="Title">
                </div>
              </div>
            </div>

            <div>
              <!-- Description Textarea -->
              <label for "about" class="block text-sm font-medium text-gray-700"> Share Your Trail Experience </label>
              <div class="mt-1">
                <!-- Description Textarea Field -->
                <textarea id="about" name="post-content" data-number="8" rows="3" class="form-textarea form-input appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-300 text-gray-900 focus:outline-none focus:ring-green-500 focus:border-green-500 focus:z-10 sm:text-sm" placeholder="Description">{{post.content}}</textarea>
              </div>
            </div>
          </div>
          <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">            
            <!-- Create Button -->
            <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-green-500 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">Create</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="/js/new.js"></script>
